.paper {
  height: 300px;
  width: 300px;
  cursor: pointer;
}
.paperModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 400px;
  background-color: white;
  border: 1px solid #000;
}
